@import "~bootstrap/scss/bootstrap.scss";

body{
    background-color: rgb(194, 194, 194);
}
.box > div{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin: 0.75rem auto;
}
.box{
    width: 10rem;
    height: 25rem;
    margin: 2rem auto;
    padding-top: 1rem;
    background-color: black;
    border-radius: 1rem;
    border-style: dotted;
    border: red;
}
.glow{   
    box-shadow: 0 0 40px 20px #fff, 0 0 100px 50px #fff;
}
